:root {
  --background: #ffffff;
  --foreground: #171717;
  --darkblue: #010C13;
  --gray: #9AA7AD;
  --lightgray: #F4F7F8;
  --red: #CA0100;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: var(--font-montserrat);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.page {
  max-width: 1920px;
  min-width: 320px;
  margin: auto;
}

.content {
  margin: 0 auto;
  width: 1482px;
  padding: 90px 0;
}

@media screen and (max-width: 1550px) {
  .content {
    width: 1200px;
  }
}