.header {
  display: flex;
  align-items: center;
  height: 108px;
  background: var(--darkblue);

  .content {
    display: flex;
    align-items: center;
    width: 1482px;
    margin: 0 auto;


    .description {
      color: white;
      font-size: 18px;
      display: contents;
    }

    .description::before {
      content: '';
      display: block;
      height: 68px;
      width: 2px;
      background-color: white;
      margin: 0 20px;
    }
  }
}

@media screen and (max-width: 1550px) {
  .header {
    .content {
      width: 1200px;
    }
  }
}

@media screen and (max-width: 1300px) {
  .header {
    .content {
      padding: 0 20px;
      .description {
        font-size: 10px;
        line-height: 150%;
      }

      .logo {
        width: 111px;
      }
    }
  }

}